<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模板市场首页</title>
    <!--<link rel="stylesheet" href="http://localhost/tempMarket/v20160825/tempPortal.css">-->
    <link rel="stylesheet" href="tempPortal.css">
    <script src="http://localhost/tempMarket/v20160825/tempPortal.js"></script>
</head>
<body>
<div class="wrapper">
<!--头部内容-->
<div class="head-wrapper">
    <div class="temp-logo"></div>
    <div class="user-panel">
        <div class="user-logo"></div>
        <div class="user-name">MR.X ANYWHERE，欢迎!</div>
    </div>
</div>
<!--头部内容-->

<!--中间内容-->
<div class="content-wrapper">
    <!--左边导航栏-->
    <div class="left-nav">
        <div class="level-panel level">
            <h4>模板等级</h4>
            <div class="item-panel">
                <ul>
                    <li class="item active default"><a href="javascript:void(0);">全部</a></li>
                    <li class="item"><a href="javascript:void(0);">豪华</a></li>
                    <li class="item"><a href="javascript:void(0);">至尊</a></li>
                </ul>
            </div>
        </div>

        <div class="level-panel professional">
            <h4>模板分类</h4>
            <div class="item-panel">
                <ul>
                    <li class="item active default"><a href="javascript:void(0);">全部</a></li>
                    <li class="item"><a href="javascript:void(0);">服饰</a></li>
                    <li class="item"><a href="javascript:void(0);">家居家装</a></li>
                    <li class="item"><a href="javascript:void(0);">服饰</a></li>
                    <li class="item"><a href="javascript:void(0);">家居家装</a></li>
                    <li class="item"><a href="javascript:void(0);">服饰</a></li>
                    <li class="item"><a href="javascript:void(0);">家居家装</a></li>
                </ul>
            </div>
        </div>

        <div class="level-panel style">
            <h4>风格</h4>
            <div class="item-panel">
                <ul>
                    <li class="item active default"><a href="javascript:void(0);">全部</a></li>
                    <li class="item"><a href="javascript:void(0);">时尚</a></li>
                    <li class="item"><a href="javascript:void(0);">简约</a></li>
                    <li class="item"><a href="javascript:void(0);">时尚</a></li>
                    <li class="item"><a href="javascript:void(0);">简约</a></li>
                    <li class="item"><a href="javascript:void(0);">时尚</a></li>
                    <li class="item"><a href="javascript:void(0);">简约</a></li>
                </ul>
            </div>
        </div>

        <div class="level-panel theme">
            <h4>主题</h4>
            <div class="item-panel">
                <ul>
                    <li class="item  default"><a href="javascript:void(0);">全部</a></li>
                    <li class="item active"><a href="javascript:void(0);">男装节</a></li>
                    <li class="item"><a href="javascript:void(0);">女装节</a></li>
                    <li class="item"><a href="javascript:void(0);">彩妆节</a></li>
                </ul>
            </div>
        </div>

        <div class="level-panel color">
            <h4>色彩</h4>
            <div class="item-panel">
                <ul><li class="item active default" data-color="全部"><a href="javascript:void(0);">全部</a></li></ul>
                <ul class="color-list">
                    <li class="item color" data-color="red" style="background-color: red;"><a href="javascript:void(0);" ></a></li>
                    <li class="item color" data-color="yellow" style="background-color: yellow;"><a href="javascript:void(0);"></a></li>
                    <li class="item color" data-color="green" style="background-color: green;"><a href="javascript:void(0);" ></a></li>
                    <li class="item color" data-color="#983938" style="background-color: #983938;"><a href="javascript:void(0);" ></a></li>
                    <li class="item color" data-color="#847228" style="background-color:#847228;"><a href="javascript:void(0);"></a></li>
                    <li class="item color" data-color="#9282ed" style="background-color:#9282ed;"><a href="javascript:void(0);" ></a></li>
                    <li class="item color" data-color="#837239" style="background-color:#837239;"><a href="javascript:void(0);" ></a></li>
                    <li class="item color" data-color="#898324" style="background-color:#898324;"><a href="javascript:void(0);"></a></li>
                    <li class="item color" data-color="#393829" style="background-color:#393829;"><a href="javascript:void(0);" ></a></li>
                    <li class="item color" data-color="#dedede" style="background-color:#dedede;"><a href="javascript:void(0);" ></a></li>
                    <li class="item color" data-color="#aabbcc" style="background-color:#aabbcc;"><a href="javascript:void(0);"></a></li>
                    <li class="item color" data-color="#898989" style="background-color:#898989;"><a href="javascript:void(0);" ></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!--右侧主要内容-->
    <div class="right-content">
        <!--轮播图-->
        <div class="slider-panel">
            <div class="container">
                <div id="slides">
                    <a href="http://www.baidu.com" target="_blank"><img src="" alt="" data-src="/jdbb/jfs/t3220/156/1010018121/35819/4d731a23/57c55028N2b566922.jpg" lazy-img="jd-app"></a>
                    <a href="http://www.baidu.com" target="_blank"><img src="" alt="" data-src="/jdbb/jfs/t3247/309/1084682029/111818/fec32303/57c55046N2bc3bb83.jpg" lazy-img="jd-app"></a>
                    <a href="http://www.baidu.com" target="_blank"><img src="" alt="" data-src="/jdbb/jfs/t2821/338/4078502214/57795/f0425130/57a8410cN2cb77e72.jpg" lazy-img="jd-app"></a>
                    <a href="http://www.baidu.com" target="_blank"><img src="" alt="" data-src="/jdbb/jfs/t3253/344/816474360/33076/42ee5fb6/57bfa900N84e6d3ff.jpg" lazy-img="jd-app"></a>
                    <a href="http://www.baidu.com" target="_blank"><img src="" alt="" data-src="/jdbb/jfs/t3289/9/107067392/87651/5193d7d0/57a54864Nbea686a8.jpg" lazy-img="jd-app"></a>
                </div>
            </div>
        </div>

        <!--主要内容显示页面-->
        <div class="temp-content" id="tempContent">
            <div class="content-panel">
                <div class="sort-panel">
                    <ul>
                        <li class="sort active down" data-type="time">发布日期</li>
                        <li class="sort" data-type="sell">销量</li>
                        <li class="sort" data-type="price">价格</li>
                    </ul>
                </div>
                <div class="input-panel">
                    <input type="text" id="keySearch" class="key-search"><button type="button" id="keyBtn" class="key-btn"></button>
                </div>
                <!--主要显示内容-->
                <div class="content" id="content">
                    <ul>
                        <li>
                            <a href="javascript:void(0);"><img src="http://localhost/tempMarket/v20160825/images-and-fonts/default.png" alt="" data-src="/jdbb/jfs/t3220/156/1010018121/35819/4d731a23/57c55028N2b566922.jpg" lazy-img="jd-app"></a>
                            <div class="container">
                                <div class="temp-price">
                                    ￥<span>100</span>/月
                                    <span class="buy-num">30次购买</span>
                                </div>
                                <div class="temp-name">蓝色清新购物模板</div>
                                <div class="temp-designer">
                                    <span>设计师：</span>
                                    <img src="http://localhost/tempMarket/v20160825/images-and-fonts/user-icon.png" alt="">
                                    <span class="name">说多了都是泪</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <a href="javascript:void(0);"><img src="http://localhost/tempMarket/v20160825/images-and-fonts/default.png" alt="" data-src="/jdbb/jfs/t3220/156/1010018121/35819/4d731a23/57c55028N2b566922.jpg" lazy-img="jd-app"></a>
                            <div class="container">
                                <div class="temp-price">
                                    ￥<span>100</span>/月
                                    <span class="buy-num">30次购买</span>
                                </div>
                                <div class="temp-name">蓝色清新购物模板</div>
                                <div class="temp-designer">
                                    <span>设计师：</span>
                                    <img src="http://localhost/tempMarket/v20160825/images-and-fonts/user-icon.png" alt="">
                                    <span class="name">说多了都是泪</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <a href="javascript:void(0);"><img src="http://localhost/tempMarket/v20160825/images-and-fonts/default.png" alt="" data-src="/jdbb/jfs/t3220/156/1010018121/35819/4d731a23/57c55028N2b566922.jpg" lazy-img="jd-app"></a>
                            <div class="container">
                                <div class="temp-price">
                                    ￥<span>100</span>/月
                                    <span class="buy-num">30次购买</span>
                                </div>
                                <div class="temp-name">蓝色清新购物模板</div>
                                <div class="temp-designer">
                                    <span>设计师：</span>
                                    <img src="http://localhost/tempMarket/v20160825/images-and-fonts/user-icon.png" alt="">
                                    <span class="name">说多了都是泪</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <a href="javascript:void(0);"><img src="http://localhost/tempMarket/v20160825/images-and-fonts/default.png" alt="" data-src="/jdbb/jfs/t3220/156/1010018121/35819/4d731a23/57c55028N2b566922.jpg" lazy-img="jd-app"></a>
                            <div class="container">
                                <div class="temp-price">
                                    ￥<span>100</span>/月
                                    <span class="buy-num">30次购买</span>
                                </div>
                                <div class="temp-name">蓝色清新购物模板</div>
                                <div class="temp-designer">
                                    <span>设计师：</span>
                                    <img src="http://localhost/tempMarket/v20160825/images-and-fonts/user-icon.png" alt="">
                                    <span class="name">说多了都是泪</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="http://localhost/tempMarket/v20160825/images-and-fonts/default.png" alt="" data-src="/jdbb/jfs/t3220/156/1010018121/35819/4d731a23/57c55028N2b566922.jpg" lazy-img="jd-app"></a>
                            <div class="container">
                                <div class="temp-price">
                                    ￥<span>100</span>/月
                                    <span class="buy-num">30次购买</span>
                                </div>
                                <div class="temp-name">蓝色清新购物模板</div>
                                <div class="temp-designer">
                                    <span>设计师：</span>
                                    <img src="http://localhost/tempMarket/v20160825/images-and-fonts/user-icon.png" alt="">
                                    <span class="name">说多了都是泪</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="http://localhost/tempMarket/v20160825/images-and-fonts/default.png" alt="" data-src="/jdbb/jfs/t3220/156/1010018121/35819/4d731a23/57c55028N2b566922.jpg" lazy-img="jd-app"></a>
                            <div class="container">
                                <div class="temp-price">
                                    ￥<span>100</span>/月
                                    <span class="buy-num">30次购买</span>
                                </div>
                                <div class="temp-name">蓝色清新购物模板</div>
                                <div class="temp-designer">
                                    <span>设计师：</span>
                                    <img src="http://localhost/tempMarket/v20160825/images-and-fonts/user-icon.png" alt="">
                                    <span class="name">说多了都是泪</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="http://localhost/tempMarket/v20160825/images-and-fonts/default.png" alt="" data-src="/jdbb/jfs/t3220/156/1010018121/35819/4d731a23/57c55028N2b566922.jpg" lazy-img="jd-app"></a>
                            <div class="container">
                                <div class="temp-price">
                                    ￥<span>100</span>/月
                                    <span class="buy-num">30次购买</span>
                                </div>
                                <div class="temp-name">蓝色清新购物模板</div>
                                <div class="temp-designer">
                                    <span>设计师：</span>
                                    <img src="http://localhost/tempMarket/v20160825/images-and-fonts/user-icon.png" alt="">
                                    <span class="name">说多了都是泪</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <a href="javascript:void(0);"><img src="http://localhost/tempMarket/v20160825/images-and-fonts/default.png" alt="" data-src="/jdbb/jfs/t3220/156/1010018121/35819/4d731a23/57c55028N2b566922.jpg" lazy-img="jd-app"></a>
                            <div class="container">
                                <div class="temp-price">
                                    ￥<span>100</span>/月
                                    <span class="buy-num">30次购买</span>
                                </div>
                                <div class="temp-name">蓝色清新购物模板</div>
                                <div class="temp-designer">
                                    <span>设计师：</span>
                                    <img src="http://localhost/tempMarket/v20160825/images-and-fonts/user-icon.png" alt="">
                                    <span class="name">说多了都是泪</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <a href="javascript:void(0);"><img src="http://localhost/tempMarket/v20160825/images-and-fonts/default.png" alt="" data-src="/jdbb/jfs/t3220/156/1010018121/35819/4d731a23/57c55028N2b566922.jpg" lazy-img="jd-app"></a>
                            <div class="container">
                                <div class="temp-price">
                                    ￥<span>100</span>/月
                                    <span class="buy-num">30次购买</span>
                                </div>
                                <div class="temp-name">蓝色清新购物模板</div>
                                <div class="temp-designer">
                                    <span>设计师：</span>
                                    <img src="http://localhost/tempMarket/v20160825/images-and-fonts/user-icon.png" alt="">
                                    <span class="name">说多了都是泪</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <a href="javascript:void(0);"><img src="http://localhost/tempMarket/v20160825/images-and-fonts/default.png" alt="" data-src="/jdbb/jfs/t3220/156/1010018121/35819/4d731a23/57c55028N2b566922.jpg" lazy-img="jd-app"></a>
                            <div class="container">
                                <div class="temp-price">
                                    ￥<span>100</span>/月
                                    <span class="buy-num">30次购买</span>
                                </div>
                                <div class="temp-name">蓝色清新购物模板</div>
                                <div class="temp-designer">
                                    <span>设计师：</span>
                                    <img src="http://localhost/tempMarket/v20160825/images-and-fonts/user-icon.png" alt="">
                                    <span class="name">说多了都是泪</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <a href="javascript:void(0);"><img src="http://localhost/tempMarket/v20160825/images-and-fonts/default.png" alt="" data-src="/jdbb/jfs/t3220/156/1010018121/35819/4d731a23/57c55028N2b566922.jpg" lazy-img="jd-app"></a>
                            <div class="container">
                                <div class="temp-price">
                                    ￥<span>100</span>/月
                                    <span class="buy-num">30次购买</span>
                                </div>
                                <div class="temp-name">蓝色清新购物模板</div>
                                <div class="temp-designer">
                                    <span>设计师：</span>
                                    <img src="http://localhost/tempMarket/v20160825/images-and-fonts/user-icon.png" alt="">
                                    <span class="name">说多了都是泪</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <a href="javascript:void(0);"><img src="http://localhost/tempMarket/v20160825/images-and-fonts/default.png" alt="" data-src="/jdbb/jfs/t3220/156/1010018121/35819/4d731a23/57c55028N2b566922.jpg" lazy-img="jd-app"></a>
                            <div class="container">
                                <div class="temp-price">
                                    ￥<span>100</span>/月
                                    <span class="buy-num">30次购买</span>
                                </div>
                                <div class="temp-name">蓝色清新购物模板</div>
                                <div class="temp-designer">
                                    <span>设计师：</span>
                                    <img src="http://localhost/tempMarket/v20160825/images-and-fonts/user-icon.png" alt="">
                                    <span class="name">说多了都是泪</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--主要显示内容-->
            </div>

            <!--分页组件-->
            <div class="page">
                <input id="total" type="hidden" value="17"/>
                <input id="pageSize" type="hidden" value="5"/>
                <div class="pages">
                    <div id="pagination" class="pagination">
                    </div>
                </div>
            </div>
            <!--分页组件-->
        </div>
        <!--主要内容显示页面-->
    </div>
    <!--右侧主要内容-->
</div>
<!--中间内容-->
<div class="foot-wrapper">
    copyright 2015-2016
</div>
</div>
</body>
</html>