<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
   <!-- <link rel="stylesheet" href="http://localhost/tempMarket/v20160825/tempDetail.css">-->
    <link rel="stylesheet" href="tempDetail.css">
    <script src="http://localhost/tempMarket/v20160825/tempDetail.js"></script>
</head>
<body>
<!--头部信息-->
<!--头部内容-->
<div class="head-wrapper">
    <div class="temp-logo"></div>
    <div class="user-panel">
        <div class="user-logo"></div>
        <div class="user-name">MR.X ANYWHERE，欢迎!</div>
    </div>
</div>
<!--头部内容-->
<!--头部信息-->

<!--购买详情-->
<div class="good-wrapper">
    <!--<h3>模板名字等模板的详细信息列表</h3>-->
    <div class="detail-wrapper">
        <div class="good-img">
            <img src="" alt="" data-src="/jdbb/jfs/t3220/156/1010018121/35819/4d731a23/57c55028N2b566922.jpg" lazy-img="jd-app">
        </div>
        <!--buy-detail  此div设置invalid就置灰-->
        <!--buy-detail  此div设置invalid就置灰-->
        <!--buy-detail  此div设置invalid就置灰-->
        <!--重要事情说三遍-->
        <div class="buy-detail">
            <div class="sell-number"><span class="name">我是一份模板大家快来买我</span><span class="sell">销售量：3094</span></div>
            <div class="create-time">创建时间：2019年28月22日</div>
            <div class="temp-introduce">模版特性介绍：积分份额个客人不敢让你为了，我你就可能呢个南京模版特性介绍：积分份额个客人不敢让你为了，我你就可能呢个南京</div>
            <div class="company-info">
                <img src="http://localhost/tempMarket/v20160825/images-and-fonts/user-icon.png" alt="">
                好好学习天天向上
                <img src="http://localhost/tempMarket/v20160825/images-and-fonts/qq-icon.png" alt="">
            </div>
            <div class="temp-tag">
                <ul>
                    <li>标签1</li>
                    <li>标签2</li>
                    <li>标签3</li>
                    <li>标签4</li>
                    <li>标签5</li>
                    <li>标签6</li>
                </ul>
            </div>

            <ul class="time-limit">
                <li ><a href="javascript:void(0);" class="month active" data-price="300">3个月</a></li>
                <li><a href="javascript:void(0);" class="month" data-price="500">6个月</a></li>
                <li><a href="javascript:void(0);" class="month" data-price="900">12个月</a></li>
            </ul>

            <!--<div class="servers">
                <ul>
                    <li><a href="javascript:void(0);">移动模板</a></li>
                    <li><a href="javascript:void(0);"  class="server-select">收起服务</a></li>
                </ul>
            </div>

            <div class="server-panel">
                <div class="server" data-price="10" data-name="服务服务服务服务1">
                    <label for=""><input type="checkbox" class="server-check" >服务服务服务服务1</label>
                    <div class="num-select">购买数量
                        <input class="min" class="min" name="" type="button" value="-" />
                        <input type="text" class="number-box num-input" value="1">
                        <input class="add" class="add" name="" type="button" value="+" />
                    </div>
                </div>

                <div class="server" data-price="20" data-name="服务服务服务服务2">
                    <label for=""><input type="checkbox" class="server-check" >服务服务服务服务2</label>
                    <div class="num-select">购买数量
                        <input class="min" class="min" name="" type="button" value="-" />
                        <input type="text" class="number-box num-input" value="1">
                        <input class="add" class="add" name="" type="button" value="+" />
                    </div>
                </div>

                <div class="server" data-price="30" data-name="服务服务服务服务3">
                    <label for=""><input type="checkbox" class="server-check" >服务服务服务服务3</label>
                    <div class="num-select">购买数量
                        <input class="min" class="min" name="" type="button" value="-" />
                        <input type="text" class="number-box num-input" value="1">
                        <input class="add" class="add" name="" type="button" value="+" />
                    </div>
                </div>

                <div class="server" data-price="40" data-name="服务服务服务服务4">
                    <label for=""><input type="checkbox" class="server-check" >服务服务服务服务4</label>
                    <div class="num-select">购买数量
                        <input class="min" class="min" name="" type="button" value="-" />
                        <input type="text" class="number-box num-input" value="1">
                        <input class="add" class="add" name="" type="button" value="+" />
                    </div>
                </div>

                <div class="server" data-price="50" data-name="服务服务服务服务5">
                    <label for=""><input type="checkbox" class="server-check" >服务服务服务服务5</label>
                    <div class="num-select">购买数量
                        <input class="min" class="min" name="" type="button" value="-" />
                        <input type="text" class="number-box num-input" value="1">
                        <input class="add" class="add" name="" type="button" value="+" />
                    </div>
                </div>

                <div class="server" data-price="60" data-name="服务服务服务服务6">
                    <label for=""><input type="checkbox" class="server-check" >服务服务服务服务6</label>
                    <div class="num-select">购买数量
                        <input class="min" class="min" name="" type="button" value="-" />
                        <input type="text" class="number-box num-input" value="1">
                        <input class="add" class="add" name="" type="button" value="+" />
                    </div>
                </div>
            </div>

            <div class="server-detail">
            </div>-->

            <div class="price-panel">
                <div class="price">价格: <span class="price">300/</span>月</div>
                <div class="use-buy">
                    <ul>
                        <li><a href="">试用</a></li>
                        <li><a href="">立即购买</a></li>
                    </ul>
                </div>
            </div>

            <div class="tips">提示：该模版由第三方设计师提供，发票事宜请咨询第三方设计师。</div>

        </div>
    </div>

    <!--模板详情和成交记录-->
    <div class="tab-wrapper">
        <div class="box temp-details">
                <ul class="tab_menu">
                    <li class="current"><a href="javascript:void(0);">模板详情</a></li>
                    <li ><a href="javascript:void(0);" class="business-history">成交记录</a></li>
                </ul>
                 <div class="line"></div>

            <div class="tab_box">
                <div class="temp-detail">
                    <div class="img-wrapper">
                        <img src="" alt="" data-src="/jdbb/jfs/t3220/156/1010018121/35819/4d731a23/57c55028N2b566922.jpg" lazy-img="jd-app">
                        <img src="" alt="" data-src="/jdbb/jfs/t3220/156/1010018121/35819/4d731a23/57c55028N2b566922.jpg" lazy-img="jd-app">
                        <img src="" alt="" data-src="/jdbb/jfs/t3220/156/1010018121/35819/4d731a23/57c55028N2b566922.jpg" lazy-img="jd-app">
                        <img src="" alt="" data-src="/jdbb/jfs/t3220/156/1010018121/35819/4d731a23/57c55028N2b566922.jpg" lazy-img="jd-app">
                        <img src="" alt="" data-src="/jdbb/jfs/t3220/156/1010018121/35819/4d731a23/57c55028N2b566922.jpg" lazy-img="jd-app">
                        <img src="" alt="" data-src="/jdbb/jfs/t3220/156/1010018121/35819/4d731a23/57c55028N2b566922.jpg" lazy-img="jd-app">
                        <img src="" alt="" data-src="/jdbb/jfs/t3220/156/1010018121/35819/4d731a23/57c55028N2b566922.jpg" lazy-img="jd-app">
                    </div>
                </div>
                <div class="buy-record hide">
                    <div class="record">

                    </div>

                    <!--分页组件-->
                    <div class="page">
                        <input id="total" type="hidden" value="17"/>
                        <input id="pageSize" type="hidden" value="5"/>
                        <div class="pages">
                            <div id="pagination" class="pagination">
                            </div>
                        </div>
                    </div>
                    <!--分页组件-->
                </div>
            </div>
        </div>
    </div>
    <!--模板详情和成交记录-->
</div>
<!--购买详情-->



<!--foot-->
<div class="foot-wrapper">
    copyright 2015-2016
</div>
</body>
</html>