body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
legend,
input,
textarea,
p,
th,
td,
hr,
button,
article,
aside,
details,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
  去除默认边框
  图片与外围容器贴合
  img缩放处理
*/
img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
/*去掉列表前的标识, li 会继承，大部分网站通常用列表来很多内容，所以应该当去*/
ul,
li {
  list-style: none;
}
button,
input,
select,
textarea {
  /*表单元素不继承父级 font 的问题*/
  font-family: inherit;
  font-size: 100%;
  vertical-align: middle;
}
button:focus,
input:focus,
select:focus,
textarea:focus {
  /*去chrome focus默认的高亮边框*/
  outline: none;
}
/**
 * html5  reset style
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}
/*如同img标签*/
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  /*没有controls属性统一不显示，*/
  display: none;
  /*防止IOS5下多余的高度*/
  height: 0;
}
/*
 重置a元素：
    1. 去掉IE10中已激活链接的灰色背景
    2. 处理chrome与其它浏览器在a:focus时的不同
    3. 提升a:active,a:hover时元素的可读性
    4. 去掉下划线
 */
a {
  background: transparent;
  /*1*/
}
a:focus {
  /*outline: thin dotted; !*2*!*/
  outline: none;
}
a:active,
a:hover {
  /*outline: 0; !*3*!*/
  outline: none;
}
a:link,
a:visited,
ins {
  text-decoration: none;
  /* 4*/
}
/*隐藏*/
.hide {
  display: none!important;
}
/*显示*/
.show {
  display: block!important;
}
body {
  font-family: "黑体";
  /*h3{
    color:#333;
    font-size:14px;
    text-align:center;
    margin:20px 0;
  }*/
}
body .head-wrapper {
  height: 90px;
  background-color: #FFE115;
  padding-left: 76px;
}
body .head-wrapper .temp-logo {
  display: inline-block;
  margin-top: 19px;
  height: 38px;
  width: 148px;
  background: url("../../common-style/images-and-fonts/detail-logo.png");
}
body .head-wrapper .user-panel {
  display: inline-block;
  float: right;
  padding: 32.5px 0;
  margin-right: 30px;
  height: 90px;
  line-height: 25px;
}
body .head-wrapper .user-panel .user-logo {
  /*display: inline-block;*/
  float: left;
  height: 25px;
  width: 25px;
  margin-right: 13px;
  background: url("../../common-style/images-and-fonts/user-logo.png");
}
body .head-wrapper .user-panel .user-name {
  /*display: inline-block;*/
  float: left;
  height: 25px;
  line-height: 25px;
  color: #000;
  font-size: 12.6px;
  font-weight: bold;
}
body .head-wrapper .user-panel:after {
  content: '';
  clear: both;
}
body .good-wrapper {
  width: 1085px;
  margin: auto;
  margin-top: 27px;
  border-top: 1px solid #D7D7D7;
  /* tabbox */
}
body .good-wrapper .detail-wrapper {
  position: relative;
  height: 533px;
}
body .good-wrapper .detail-wrapper .good-img {
  position: absolute;
  width: 376px;
  height: 533px;
  padding-top: 20px;
}
body .good-wrapper .detail-wrapper .good-img img {
  display: block;
  height: 533px;
  width: 376px;
  background-color: red;
}
body .good-wrapper .detail-wrapper .buy-detail {
  width: 100%;
  padding-left: 413px;
  padding-top: 20px;
  height: 100%;
  box-sizing: border-box;
}
body .good-wrapper .detail-wrapper .buy-detail .sell-number {
  height: 53px;
  padding-top: 20px;
  line-height: 33px;
}
body .good-wrapper .detail-wrapper .buy-detail .sell-number .name {
  display: inline-block;
  height: 33px;
  line-height: 33px;
  max-width: 500px;
  font-size: 24px;
}
body .good-wrapper .detail-wrapper .buy-detail .sell-number .sell {
  display: inline-block;
  margin-left: 29px;
  height: 33px;
  line-height: 33px;
  font-size: 14px;
}
body .good-wrapper .detail-wrapper .buy-detail .create-time {
  margin-top: 23px;
  height: 15px;
  line-height: 15px;
  font-size: 14px;
  color: #A9A9A9;
}
body .good-wrapper .detail-wrapper .buy-detail .company-info {
  margin-top: 26px;
  height: 28px;
  font-size: 16px;
}
body .good-wrapper .detail-wrapper .buy-detail .company-info img {
  height: 28px;
  width: 28px;
  margin-right: 8px;
}
body .good-wrapper .detail-wrapper .buy-detail .company-info img:nth-of-type(2) {
  margin-top: -4px;
  margin-left: 14px;
  height: 17px;
  width: 16px;
  margin-right: 0;
}
body .good-wrapper .detail-wrapper .buy-detail .temp-introduce {
  margin-top: 8px;
  width: 474px;
  font-size: 14px;
  color: #A9A9A9;
  line-height: 18px;
}
body .good-wrapper .detail-wrapper .buy-detail .temp-tag {
  margin-top: 24px;
  height: 26px;
  line-height: 26px;
}
body .good-wrapper .detail-wrapper .buy-detail .temp-tag ul {
  display: inline-block;
  list-style-type: none;
  height: 26px;
  line-height: 26px;
}
body .good-wrapper .detail-wrapper .buy-detail .temp-tag ul:before {
  width: 17px;
  height: 17px;
  content: url("../../common-style/images-and-fonts/tag-icon.png");
  vertical-align: middle;
  margin-right: 8px;
}
body .good-wrapper .detail-wrapper .buy-detail .temp-tag ul li {
  display: inline-block;
  width: 64px;
  height: 26px;
  line-height: 26px;
  border: 1px solid #000;
  text-align: center;
  font-size: 14px;
  margin-right: 10px;
}
body .good-wrapper .detail-wrapper .buy-detail .tips {
  height: 17px;
  line-height: 17px;
  font-size: 12px;
  color: #A9A9A9;
  margin-top: 16px;
}
body .good-wrapper .detail-wrapper .buy-detail .time-limit {
  margin-top: 27px;
  height: 64px;
  width: 378px;
  background-color: #F2F2F2;
  line-height: 30px;
  padding-top: 17px;
  padding-left: 29px;
}
body .good-wrapper .detail-wrapper .buy-detail .time-limit li {
  display: inline-block;
  margin-right: 14px;
}
body .good-wrapper .detail-wrapper .buy-detail .time-limit li:nth-of-type(3) {
  margin-right: 0;
}
body .good-wrapper .detail-wrapper .buy-detail .time-limit li .month {
  display: block;
  height: 30px;
  width: 90px;
  font-size: 16px;
  border: 1px solid #D7D7D7;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: #fff;
}
body .good-wrapper .detail-wrapper .buy-detail .time-limit li .month:hover {
  border: 1px solid #000;
  background: #000;
  color: #FFF;
}
body .good-wrapper .detail-wrapper .buy-detail .time-limit li .month.active {
  border: 1px solid #FFE115;
  background-color: #FFE115;
  color: #000;
}
body .good-wrapper .detail-wrapper .buy-detail.invalid .time-limit {
  background-color: #F2F2F2;
}
body .good-wrapper .detail-wrapper .buy-detail.invalid .time-limit li .month {
  background-color: #ffffff;
  color: #D7D7D7;
}
body .good-wrapper .detail-wrapper .buy-detail.invalid .time-limit li .month.active {
  background-color: #ffffff;
  color: #D7D7D7;
  border: 1px solid #D7D7D7;
}
body .good-wrapper .detail-wrapper .buy-detail.invalid .price-panel {
  color: #d7d7d7;
}
body .good-wrapper .detail-wrapper .buy-detail.invalid .price-panel .use-buy ul li a {
  background-color: #FBFBFB;
  border: 1px solid #D6D6D6;
  color: #D6D6D6;
}
body .good-wrapper .box {
  width: 100%;
  margin-top: 76px;
  background: #fff;
  border: 1px solid #d3d3d3;
}
body .good-wrapper .box .tab_menu {
  overflow: hidden;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
}
body .good-wrapper .box .tab_menu li {
  /*margin-left:2px;*/
  list-style-type: none;
  width: 100px;
  float: left;
  height: 40px;
  width: 160px;
  line-height: 40px;
  color: #000;
  background: #fff;
  text-align: center;
  cursor: pointer;
}
body .good-wrapper .box .tab_menu li:nth-of-type(2) {
  border-right: 1px solid #D7D7D7;
}
body .good-wrapper .box .tab_menu li a {
  display: block;
  height: 100%;
  width: 160px;
  color: #000;
  text-decoration: none;
}
body .good-wrapper .box .tab_menu li a:hover {
  color: #333;
  background-color: #D7D7D7;
  border: none;
}
body .good-wrapper .box .tab_menu li.current {
  background: #000;
}
body .good-wrapper .box .tab_menu li.current a {
  color: #fff;
}
body .good-wrapper .box .tab_menu li.current a:hover {
  color: #fff;
  background-color: #000;
}
body .good-wrapper .box .line {
  height: 3px;
  background-color: #000;
}
body .good-wrapper .box .tab_box {
  /* padding:20px;*/
  /*height: 80px;*/
  overflow: auto;
  position: relative;
}
body .good-wrapper .box .tab_box .hide {
  display: none;
}
body .good-wrapper .box .tab_box .buy-record {
  /*分页*/
}
body .good-wrapper .box .tab_box .buy-record .record {
  padding: 0 8px;
}
body .good-wrapper .box .tab_box .buy-record .record .record-table {
  width: 100%;
  border-bottom: 1px solid #D7D7D7;
  border-collapse: collapse;
}
body .good-wrapper .box .tab_box .buy-record .record .record-table th {
  font-size: 13px;
  font-weight: bold;
}
body .good-wrapper .box .tab_box .buy-record .record .record-table td {
  font-size: 12px;
}
body .good-wrapper .box .tab_box .buy-record .record .record-table tr {
  border-bottom: 1px solid #D7D7D7;
  border-top: 1px solid #D7D7D7;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
body .good-wrapper .box .tab_box .buy-record .record .record-table tr:nth-of-type(2n) {
  background-color: #f8f8f8;
}
body .good-wrapper .box .tab_box .buy-record .pages {
  position: relative;
  margin-top: 35px;
  margin-bottom: 50px;
  height: 21px;
}
body .good-wrapper .box .tab_box .buy-record .pages .pagination {
  *zoom: 1;
  position: absolute;
  top: 0;
  right: 33px;
}
body .good-wrapper .box .tab_box .buy-record .pages .pagination:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
body .good-wrapper .box .tab_box .buy-record .pages .pagination a,
body .good-wrapper .box .tab_box .buy-record .pages .pagination span {
  float: left;
  margin-right: 6px;
  width: 21px;
  height: 21px;
  color: #fff;
  background: #000;
  text-align: center;
  line-height: 21px;
  font-size: 14.6px;
}
body .good-wrapper .box .tab_box .buy-record .pages .pagination a:hover,
body .good-wrapper .box .tab_box .buy-record .pages .pagination span:hover {
  background-color: #CACACA;
  color: #000;
}
body .good-wrapper .box .tab_box .buy-record .pages .pagination a.ellipse,
body .good-wrapper .box .tab_box .buy-record .pages .pagination span.ellipse {
  background: url("../../common-style/images-and-fonts/ellipse.png");
  background-position: center center;
  background-repeat: no-repeat;
}
body .good-wrapper .box .tab_box .buy-record .pages .pagination .current {
  color: #000;
  background: #FFE115;
  cursor: default;
}
body .good-wrapper .box .tab_box .buy-record .pages .pagination .current:hover {
  color: #000;
  background: #FFE115;
}
body .good-wrapper .box .tab_box .buy-record .pages .pagination .prev,
body .good-wrapper .box .tab_box .buy-record .pages .pagination .next {
  background: transparent;
  position: relative;
}
body .good-wrapper .box .tab_box .buy-record .pages .pagination .prev .icon-triangle-right,
body .good-wrapper .box .tab_box .buy-record .pages .pagination .next .icon-triangle-right {
  display: block;
  position: absolute;
  margin: auto;
  left: 8px;
  bottom: 0;
  top: 0;
  width: 0;
  height: 0;
  border-left-color: #000;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 6px solid #000;
}
body .good-wrapper .box .tab_box .buy-record .pages .pagination .prev .icon-triangle-left,
body .good-wrapper .box .tab_box .buy-record .pages .pagination .next .icon-triangle-left {
  display: block;
  position: absolute;
  margin: auto;
  left: 7px;
  bottom: 0;
  top: 0;
  width: 0;
  height: 0;
  border-left-color: #000;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 6px solid #000;
}
body .good-wrapper .box .tab_box .buy-record .pages .pagination .prev.current:hover,
body .good-wrapper .box .tab_box .buy-record .pages .pagination .next.current:hover {
  background: transparent!important;
}
body .good-wrapper .box .tab_box .buy-record .pages .pagination .prev.current:hover .icon-triangle-left,
body .good-wrapper .box .tab_box .buy-record .pages .pagination .next.current:hover .icon-triangle-left {
  border-left-color: #CACACA;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 6px solid #CACACA;
}
body .good-wrapper .box .tab_box .buy-record .pages .pagination .prev.current:hover .icon-triangle-right,
body .good-wrapper .box .tab_box .buy-record .pages .pagination .next.current:hover .icon-triangle-right {
  border-right-color: #CACACA;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 6px solid #CACACA;
}
body .good-wrapper .box .tab_box .buy-record .pages .pagination .prev.current .icon-triangle-left,
body .good-wrapper .box .tab_box .buy-record .pages .pagination .next.current .icon-triangle-left {
  border-left-color: #CACACA;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 6px solid #CACACA;
}
body .good-wrapper .box .tab_box .buy-record .pages .pagination .prev.current .icon-triangle-right,
body .good-wrapper .box .tab_box .buy-record .pages .pagination .next.current .icon-triangle-right {
  border-right-color: #CACACA;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 6px solid #CACACA;
}
body .good-wrapper .box .tab_box .buy-record .pages .pagination .prev:hover,
body .good-wrapper .box .tab_box .buy-record .pages .pagination .next:hover {
  background-color: #000;
}
body .good-wrapper .box .tab_box .buy-record .pages .pagination .prev:hover .icon-triangle-left,
body .good-wrapper .box .tab_box .buy-record .pages .pagination .next:hover .icon-triangle-left {
  border-right-color: #fff;
}
body .good-wrapper .box .tab_box .buy-record .pages .pagination .prev:hover .icon-triangle-right,
body .good-wrapper .box .tab_box .buy-record .pages .pagination .next:hover .icon-triangle-right {
  border-left-color: #fff;
}
body .good-wrapper .box .tab_box .temp-detail {
  min-height: 400px;
  position: relative;
  padding-top: 20px;
  /*      border: 1px solid cadetblue;*/
}
body .good-wrapper .box .tab_box .temp-detail .img-wrapper {
  /* position: absolute;*/
  width: 600px;
  margin: auto;
  left: 0;
  right: 0;
}
body .good-wrapper .box .tab_box .temp-detail .img-wrapper img {
  width: 100%;
  min-height: 200px;
  background-color: red;
  margin-bottom: 8px;
}
body .servers {
  margin-top: 12px;
}
body .servers ul {
  list-style-type: none;
}
body .servers ul li {
  display: inline-block;
}
body .servers ul li a {
  display: inline-block;
  height: 30px;
  width: 80px;
  background-color: lightgrey;
  text-decoration: none;
  box-sizing: border-box;
  border: 1px solid lightgrey;
}
body .servers ul li a:hover {
  border: 1px solid red;
}
body .server-panel {
  position: relative;
  margin-top: 12px;
  padding-left: 20px;
  box-sizing: border-box;
  width: 500px;
  height: 100px;
  overflow-y: scroll;
  display: block;
}
body .server-panel .server {
  height: 30px;
  width: 450px;
}
body .server-panel .server label {
  width: 240px;
  float: left;
  height: 30px;
  line-height: 30px;
}
body .server-panel .server .num-select {
  float: right;
  width: 200px;
  box-sizing: border-box;
  padding-right: 20px;
  text-align: right;
  line-height: 30px;
}
body .server-panel .server .num-select .number-box {
  width: 30px;
}
body .server-detail {
  padding: 10px;
  margin-top: 12px;
  width: 500px;
  box-sizing: border-box;
  background-color: #ddd;
  display: none;
}
body .server-detail .detail {
  height: 30px;
  width: 100%;
}
body .server-detail .detail .details-span {
  height: 30px;
  line-height: 30px;
}
body .server-detail .detail label {
  height: 30px;
  line-height: 30px;
}
body .server-detail .detail label input {
  width: 40px;
  color: red;
  font-size: 14px;
  font-weight: bold;
}
body .server-detail .detail .del-btn {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 50px;
  text-decoration: none;
  font-size: 16px;
}
body .price-panel {
  margin-top: 26px;
  padding: 20px 0;
  height: 77px;
  width: 653px;
  border-top: 1px solid #D7D7D7;
  line-height: 37px;
}
body .price-panel .price {
  display: inline-block;
  height: 37px;
  line-height: 37px;
  font-size: 14px;
}
body .price-panel .price span {
  display: inline-block;
  height: 37px;
  line-height: 37px;
  font-size: 34px;
  font-weight: bold;
}
body .price-panel .use-buy {
  display: inline-block;
  height: 37px;
  line-height: 37px;
}
body .price-panel .use-buy ul {
  height: 37px;
  line-height: 37px;
  margin-left: 40px;
}
body .price-panel .use-buy ul li {
  display: inline-block;
  margin-right: 14px;
  height: 37px;
  width: 120px;
  line-height: 37px;
}
body .price-panel .use-buy ul li:nth-of-type(2) a {
  background-color: #FFE115;
}
body .price-panel .use-buy ul li a {
  display: block;
  width: 120px;
  height: 37px;
  line-height: 37px;
  text-align: center;
  background-color: #D6D6D6;
  color: #000;
  text-decoration: none;
}
body .price-panel .use-buy ul li a:hover {
  /*border: 1px solid red;*/
  background-color: #000;
  color: #fff;
}
body .foot-wrapper {
  height: 130px;
  line-height: 130px;
  background: #000;
  padding-left: 35px;
  color: #fff;
  font-size: 12px;
}
body .test-qq {
  background: url("../../common-style/images-and-fonts/qq-icon.png");
}
